@media(max-width:576px){
  
    .container-info {
        padding-top: 50px;  
        flex-direction: column-reverse;
        gap: 10px;
    }

    .container-info .sobre {
        font-size: 18px;
        width: 450px;
        line-height: normal;
         
    }

    .container-info .foto img {
       width: 200px;
    }

    .container-info .sobre h1 {
        padding-bottom: 20px;
    }

    .container-info .sobre p {
        padding-bottom: 5px;
          
    }
    .animacao .imagem1 {
        width: 80px;
    }
   
    .animacao  li img {
        width: 50px;
    }

    .animacao li {
        z-index: -1;
    }

    .animacao .img2 {
        left: 199px;
        bottom: 60px;
       
    }

    .animacao .img1 {
        right: 120px;
        bottom: 30px;  
    }

    .animacao .img3 {
       left: 290px;
       bottom: 15px;
       z-index: -1;
        
    }



}